.center-webCam
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 140px;  
}

.buttons a, .buttons button {
    display:inline-block;
    margin:auto;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
}

.buttons {
    text-align:center;
    margin: 0 auto;
    position:relative;
}

tbody div{
    overflow:scroll;
    height: 100%;
}


div.main_container.glass {
  background: none;
  box-shadow: none !important;
  border: none !important;
  margin-top: -10px !important;
  margin-bottom: 0px !important;
}
div.main_container.glass > div {
  position: relative;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-width: 1px;
  background: rgba(0, 0, 0, 0.5);
  margin: -15px -5px 0;
  width: auto;
  letter-spacing: -4px;
}
div.main_container.glass > div > * {
  letter-spacing: 0;
}
.glass .lines > div,
.glass .info_box > div.split {
  border-color: #000 !important;
}
.glass .info_box > label {
  background: rgba(0, 0, 0, 0.3);
  border-color: #000;
  color: #fff;
}

.glass .flat_area h1,
.glass .flat_area h2,
.glass .flat_area h3,
.glass .flat_area h4,
.glass .flat_area h5 {
  color: #fff;
  border-color: #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: none;
  text-shadow: 0 1px 0 #000;
}
.glass .flat_area h1 small,
.glass .flat_area h2 small,
.glass .flat_area h3 small,
.glass .flat_area h4 small,
.glass .flat_area h5 small {
  color: #ddd;
}
.glass .flat_area p {
  color: #f3f3f3;
}

/* tiles */
.picture_tiles {
  margin-bottom: 0;
}
.picture_tiles > li {
  list-style: none;
  float: left;
  margin: 0px 0 10px 5px;
  position: relative;
  transition: opacity 0.2s ease-in-out;
}
.picture_tiles > li > a {
  border-radius: 3px;
  overflow: hidden;
  display: block;
  border: 1px solid #000;
}
.picture_tiles:hover > li {
  opacity: 0.5;
}
.picture_tiles:hover > li:hover {
  opacity: 1;
}
